/* Font */

@font-face {
    font-family: 'Inter';
    font-family: 400;
    src: url('../../fonts/Inter-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Manrope';
    font-family: 400;
    src: url('../../fonts/Manrope-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: url('../../fonts/Manrope-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Manrope';
    font-family: 600;
    src: url('../../fonts/Manrope-SemiBold.ttf');
  }
  