@import-normalize;
@import './styles/font-face.css';
@import './styles/reset.css';
@import './styles/variables.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



